<div class="container mb-5 mt-5">
    <div class="services d-flex flex-column-reverse d-lg-flex flex-lg-row">
        <div class="pe-2 d-flex justify-content-center">
            <img src="https://plus.unsplash.com/premium_photo-1665329006985-04f95dd59402?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1yZWxhdGVkfDEyfHx8ZW58MHx8fHx8"
                alt="img-fluid object-fit-contain img-first-heading" style="width: 300px; height: 300px;" class="m-2 rounded-circle">
        </div>
        <div>
            <h3>Lorem ipsum dolor sit amet.</h3>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Qui nisi quas itaque soluta dolorem? Nisi nam,
                ipsa non
                quod neque nemo incidunt atque nobis. Quos, similique! Earum voluptatem praesentium enim.
            </p>
        </div>
    </div>
</div>