<div class="hero d-flex flex-column justify-content-center align-items-center text-center" style="background-image: url('https://i.natgeofe.com/k/5b396b5e-59e7-43a6-9448-708125549aa1/new-york-statue-of-liberty.jpg'); 
            background-size: cover; 
            background-position: center; 
            background-repeat: no-repeat;
            height: 40vh;">
    <h1 class="container-fluid bg-white px-4 py-2 m-2 display-2 fw-bold">
        One Page Wonder
    </h1>
    <h3 class="container-fluid bg-white px-4 py-2 m-2 display-2 fw-bold">
        Will Knock Your Socks Off
    </h3>
</div>